{% extends "layout.html" %}

{% block title %}Etusivu - Hauskat pelit{% endblock %}

{% block addhead %}
<meta name="description" content="Nettipelit.tk on moderni pelisivusto, josta löydät parhaat ilmaiset pelit joka lähtöön. Satutko pitämään kenties autopeleistä tai palapeleistä? Pidätkö driftaamisesta tai kaahailusta? Ammuskelusta? Ei hätää - kaikenlaiset nettipelit löytyvät meiltä!">
{% endblock %}

{% block content %}

<div class="container">
    <h1>Etusivu - Pelikokoelma</h1>
    <p class="lead">Paras nettipelien kokoelma löytyy Nettipelit.tk:sta! Meiltä löydät pelit autoista ammuskeluun.</p>
    <hr>


    <div id="best-games">
        
        <h2 class="card-title">Parhaimmat ilmaispelit</h2>
        <p class="lead">Nämä ilmaiset pelit eivät tuota pettymystä! 😎</p>

        <div class="row row-cols-auto">
          {% for game in best_games %}

            <div class="col">
                <div class="card game-card" style="width: 260px; height: 375px;">
                  <div class="position-relative">
                    <img src='{{ game["thumbnailUrl"] }}' class="card-img-top game-img index-game-img" alt="{{ game['title'] }}">
                  
                  </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ game["title"] }} 

                      </h5>
                      {% if isMobile %}

                      <a href="{{ url_for('view_game') }}?id={{ game['id'] }}&fullscreen=true" class="btn btn-primary">Pelaa peliä</a>
                    
                      {% else %}
    
                      <a href="{{ url_for('view_game') }}?id={{ game['id'] }}" class="btn btn-primary">Pelaa peliä</a>
    
                      {% endif %}                    </div>
                  </div>
                  <br>
            </div>

          {% endfor %}

        </div>
    </div>

    <hr>

    <div id="newest-games">

      <h2>Uudet pelit</h2>
      <p class="lead">Tsekkaahan nämä uutukaiset! 😉</p>
      
      <div class="row row-cols-auto">
        {% for game in newest_games %}
        <div class="col">
          
            <div class="card" style="width: 250px; height: 375px;">
                <img src='{{ game["thumbnailUrl"] }}' style="height: 250px; width: 250px;" class="card-img-top index-game-img" alt="{{ game['title'] }}">
                <div class="card-body">
                  <h5 class="card-title">{{ game["title"] }}</h5>
                  {% if isMobile %}

                  <a href="{{ url_for('view_game') }}?id={{ game['id'] }}&fullscreen=true" class="btn btn-primary">Pelaa peliä</a>
                
                  {% else %}

                  <a href="{{ url_for('view_game') }}?id={{ game['id'] }}" class="btn btn-primary">Pelaa peliä</a>

                  {% endif %}
                </div>
              </div>
              <br>
          
        </div>
        {% endfor %}
      </div>

    
    </div>

    <hr>

    <div class="card">
      <div class="card-body">

        <h3 class="card-title">Kategoriat</h3>
        <p>Eikö mikään ylläolevista tärpännyt? Ei se mitään, sillä voit selata pelejä myös kategorian mukaan! 🦩</p>
 
        <ul class="list-group">

          {% for category in categories %}
          <li class="list-group-item"><a class="btn btn-outline-light" href="/categories/{{ category['id'] }}"> {{ category['name'] }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </div>

</div>




{% endblock %}