{% extends "layout.html" %}

{% block title %}Tietosuojakäytäntö{% endblock %}

{% block content %}

<div class="container">

<h1>Tietosuojakäytäntö - Miten tietoja käsitellään?</h1>

    <p>Keräämme pseudonymisoituja tietoja ymmärtääksemme paremmin käyttäjien kokemusta sivustosta. Näihin tietoihin kuuluu laitteen IP-osoite (prosessoidaan käytön aikana, tallennetaan muodossa jossa sinua ei voida tunnistaa), laitteen näytön koko, laitteen tyyppi, selaintiedot, geografinen sijainti (vain maa) ja valittu kieli jota käytät sivustollamme. Tämä
            antaa meille mahdollisuuden parantaa sivustomme käyttökokemusta ja muokata sivua vastaamaan paremmin tarpeita.</p>
            
            <p>Otamme yksityisyyden aina vakavasti. Voit ottaa yhteyttä sähköpostilla: support@nettipelit.tk</p>

</div>
{% endblock %}